p{
    margin: 0px;
}

.hoteles{
    width: 400px;
    height: 350px;
    margin-left: 70px;
}

.imgH{
    width: 100%;
    height: 300px;
}

.estrella{
    color: #FE9800;
    width: 30px;
    height: 30px;
}
.zonaTop{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.zonaEstrella{
    width: 60%;
}

.zonaVistas, .zonaLikes{
    width: 20%;
    display: flex;
    flex-direction: row;
    float: left;
    color: #66696E;
}

.vista, .like{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.title{
    margin: 0px;
}

.zonaPrecio{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 100px;
    background-color: #000000;
}